/*CSS for body including header*/

/**{
	border: 1px solid black;
}*/

.header {
	height: 120px;
	border: 1px solid black;
	margin-bottom: 10px;

}

.jumbotron {
	height: 400px;
}

.thumbnail {
	width: 178px;
	height: 240px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
  	justify-content: space-around;
  	flex-wrap:wrap;
  	padding: 0px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.hidden{
	display: none;
}
/*#photo-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}*/

.trigger{
	text-align: center;
	background-color: red;
	margin-bottom: 2%;
}

.trigger a {
	color: black;
}

.carousel-caption p {
	color: black; 
	font-size: 150%;
}

.carousel-caption h3 {
	color:black;
}


.view{
	width: 200px;
	height:200px;
	border: 1px solid black;
}

./*hoverinfo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}
.hoverinfo p {
  display: none;
  color: #000000;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}*/

