/*CSS for body including header*/

/**{
	border: 1px solid black;
}*/

h2{
	color: white;
}
.catfont1{
	font: 36pt underline bold;
	color: white;
}
.catfont2{
	font: 36pt underline bold;
	color: black;
}
.stripe1{
	background-color: black;
	padding: 10px;
}
.stripe2{
	background-color: silver;
	padding: 10px;
}
.header {
	height: 120px;
	border: 1px solid black;
	margin-bottom: 10px;

}

.jumbotron {
	height: 400px;
}

.thumbnail {
	width: 178px;
	height: 240px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
  	justify-content: space-around;
  	flex-wrap:wrap;
  	padding: 0px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.hidden{
	display: none;
}
.trigger{
	text-align: center;
	background-color: red;
	margin-bottom: 2%;
}

.trigger a {
	color: black;
}

.carousel-caption p 2
	color: black; 
	font-size: 150%;
}

.carousel-caption h3 {
	color:black;
}


.view{
<<<<<<< HEAD
=======
	width: 200px;
	height:200px;
	border: 1px solid black;
	background-color: silver;
	display: inline-block;
	vertical-align: middle;
>>>>>>> 13f72e7655d74172abe3e5c330f8e997111a6545

	width: 50px;
	height:50px;
	border: 1px solid black;
	background-color: orange;
	display: none;
}

img:hover +.view {
	display: block;
} 
.containers{
	margin-left: 80px;
}
.footer{
	background: black;
	color: white;
	padding-right: 0 auto;
	padding-left: 0 auto;
}
./*hoverinfo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}
.hoverinfo p {
  display: none;
  color: #000000;
}
.hoverinfo:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}*/

/*begin slider */

/*.slide-in-menu{
	background-color: black;
	color: white;
	height: 100%;
	width: 20%;
	position: fixed;
	top: 0;
	display: inline-block;
	padding-left: 3%;
	padding-top: 1%;
	z-index: 1;
}

#menu-trigger{
	margin: 1%;
	z-index: 1;
}

.white{
	color: white;
}

.transparent{
	background-color: transparent;
}

a {
	color: white!important;
}

.red{
	background-color: red;
}

.social{
	border-radius: 50%;
	width: 30%;
	height: 15%;
}

.menu-footer{
	margin-top: auto;
}*/

/*end slider*/